In [2]:
%matplotlib notebook
import numpy as np
import geopandas as gpd
import seaborn as sns
import time
import os
import imageio
import plotly.express as px
import plotly
import bar_chart_race as bcr
from matplotlib.animation import FuncAnimation
import matplotlib.animation as animation
from matplotlib.pyplot import show
import warnings
import time

/home/nirmala/.local/lib/python3.8/site-packages/geopandas/_compat.py:123: UserWarning: The Shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(
/tmp/ipykernel_19892/466826767.py:3: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

In [3]:
df=pd.read_csv('/home/nirmala/timing_final_copy_after_filter.csv')

In [5]:
df

,state_code,file_closing_days,file_reach_days,decide_close_days,Year
0,Andhra Pradesh,1000.340859,404.308270,0.423684,2010
1,Assam,0.000000,0.000000,0.000000,2010
2,Bihar,0.000000,0.000000,0.000000,2010
3,Chandigarh,0.000000,0.000000,0.000000,2010
4,Chattisgarh,0.000000,0.000000,0.000000,2010
...,...,...,...,...,...
255,Telangana,97.387049,44.757250,0.295233,2018
256,Tripura,150.772764,40.976632,0.245770,2018
257,Uttar pradesh,69.019989,20.760331,2.170473,2018
258,Uttarakhand,92.552775,30.921476,0.303449,2018
259,West Bengal,92.027731,17.358586,0.607467,2018

In [21]:
file_close_result = df.groupby('state_code')['file_closing_days'].mean().reset_index()

In [22]:
file_reach_result=df.groupby("state_code")['file_reach_days'].mean().reset_index()

In [23]:
df.describe()

       file_closing_days  file_reach_days  decide_close_days         Year
count         260.000000       260.000000         260.000000   260.000000
mean          454.440689       147.595455           2.137880  2013.711538
std           394.979639       249.351366           3.980196     2.555459
min             0.000000         0.000000           0.000000  2010.000000
25%           144.471969        23.238326           0.087581  2012.000000
50%           387.167301        71.164808           0.554880  2014.000000
75%           692.604311       168.196528           2.391861  2016.000000
max          2526.666667      2243.000000          35.291323  2018.000000

In [24]:
decide_close_result=df.groupby("state_code")['decide_close_days'].mean().reset_index()

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [26]:
file_close_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state_code         32 non-null     object
 1   file_closing_days  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

In [28]:
final=pd.merge(file_close_result,file_reach_result,on="state_code")

In [31]:
final=pd.merge(decide_close_result,final,on="state_code")

In [32]:
final

           state_code  decide_close_days  file_closing_days  file_reach_days
0      Andhra Pradesh           0.383441         566.131398       153.590987
1               Assam           0.651918         395.259223       131.512861
2               Bihar           4.223333         559.373442       213.922394
3          Chandigarh           6.580416         403.609485        56.540329
4         Chattisgarh           3.352453         491.203826       140.667339
5      DNH at silvasa           0.139170         504.346354        38.344367
6               Delhi           4.430026         436.222948        57.329367
7       Diu and daman           0.002064         301.861930        33.003473
8                 Goa           8.006905         289.139825        69.345791
9            Gujarath           1.644660         382.203463       115.301331
10            Haryana           1.303531         397.839030        85.290441
11   Himachal Pradesh           0.662240         398.782049        87.675409
12  Jammu and kashmir           0.235428         456.869973       204.525653
13          Jharkhand           1.368970         494.605737       162.409723
14          Karnataka           5.039970         377.458003        89.354678
15             Kerala           2.728343         408.838761       121.968010
16             Ladakh           0.000000        1359.481691      1064.006707
17     Madhya Pradesh           4.308465         407.348515       125.318009
18        Maharashtra           1.373586         473.809738        50.086809
19            Manipur           0.415961         384.024306       146.864876
20          Meghalaya           0.162821         293.717629        39.047724
21            Mizoram           0.002238         308.896692       174.667693
22             Orissa           4.070802         606.763793       283.172644
23             Punjab           0.689624         395.594504        67.957322
24          Rajasthan           1.972807         488.214902       147.420366
25             Sikkim           0.613999         211.009946        86.943682
26          Tamilnadu           0.994960         468.038130       117.948171
27          Telangana           0.485975         520.492223       138.365428
28            Tripura           0.362558         436.729510        84.311903
29      Uttar pradesh           7.361264         457.702022       157.763714
30        Uttarakhand           3.264332         375.669683       123.310485
31        West Bengal           1.349772         500.376341       200.058693

In [33]:
final.to_csv("state_time_merge")