In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
import pandas as pd
spark = SparkSession.builder \
    .appName('Read CSV File into DataFrame') \
    .config('spark.executor.memory', '10g') \
    .config('spark.driver.memory', '50g') \
    .getOrCreate()
# spark = SparkSession.builder.appName('Read CSV File into DataFrame').getOrCreate()
from pyspark.sql.functions import col

df=spark.read.csv("/home/nirmala/Documents/precog_requirement_task/cases/cases/cases_2015.csv" ,header=True)
df2=pd.read_csv('/home/nirmala/2015_filtered.csv')

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/10 10:50:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_pending=df

df_pending = df_pending.drop(col("dist_code"))
df_pending = df_pending.drop(col("ddl_case_id"))
df_pending = df_pending.drop(col("court_no"))
df_pending = df_pending.drop(col("cino"))
df_pending = df_pending.drop(col("judge_position"))
df_pending = df_pending.drop(col("female_defendant"))
df_pending = df_pending.drop(col("female_petitioner"))
df_pending = df_pending.drop(col("female_adv_def"))
df_pending = df_pending.drop(col("female_adv_pet"))
df_pending = df_pending.drop(col("type_name"))
df_pending = df_pending.drop(col("purpose_name"))
df_pending = df_pending.drop(col("disp_name"))
df_pending = df_pending.drop(col("date_last_list"))
df_pending = df_pending.drop(col("date_first_list"))


df_pending

df = df_pending.toPandas()

In [3]:
df['date_of_filing'] = pd.to_datetime(df['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 


df['date_of_decision'] = pd.to_datetime(df['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

df['date_next_list'] = pd.to_datetime(df['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 



# df['file_end'] =(df['date_next_list']-df['date_of_filing']).dt.year
df.info()

df['closing'] = df['date_next_list'].dt.year
df['filing'] = df['date_of_filing'].dt.year


df=df.drop(columns=['date_of_filing','date_of_decision','date_next_list'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10475876 entries, 0 to 10475875
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   year              object
 1   state_code        object
 2   date_of_filing    datetime64[ns]
 3   date_of_decision  datetime64[ns]
 4   date_next_list    datetime64[ns]
dtypes: datetime64[ns](3), object(2)
memory usage: 399.6+ MB

In [4]:
df['closing']=df['closing'].fillna('1900')


df['closing']=df['closing'].astype(int)
df['filing']=df['filing'].astype(int)

df

df.info()

df = df[~df['closing'].isin([2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022])]


df

df['pending_years']=df['closing']-df['filing']

df


df['filing'].unique()

df=df.drop(columns=['filing','closing'])

df=df.reset_index()

df=df.drop(columns=['index'])
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10475876 entries, 0 to 10475875
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   year        object
 1   state_code  object
 2   closing     int64
 3   filing      int64
dtypes: int64(2), object(2)
memory usage: 319.7+ MB

        year state_code  pending_years
0       2015         01           -115
1       2015         01           -115
2       2015         01           -115
3       2015         01           -115
4       2015         01           -115
...      ...        ...            ...
135557  2015         30           -115
135558  2015         30           -115
135559  2015         30           -115
135560  2015         30            -10
135561  2015         30           -115

[135562 rows x 3 columns]

In [5]:
df['state_code'].replace(to_replace='01', value="Maharashtra",inplace=True)
df['state_code'].replace(to_replace='02' ,value="Andhra Pradesh",inplace=True)
df['state_code'].replace(to_replace='03' ,value="Karnataka",inplace=True)
df['state_code'].replace(to_replace='04', value="Kerala",inplace=True)
df['state_code'].replace(to_replace='05' ,value="Himachal Pradesh",inplace=True)
df['state_code'].replace(to_replace='06', value="Assam",inplace=True)
df['state_code'].replace(to_replace='07', value="Jharkhand",inplace=True)
df['state_code'].replace(to_replace='08' ,value="Bihar",inplace=True)
df['state_code'].replace(to_replace='09' ,value="Rajasthan",inplace=True)
df['state_code'].replace(to_replace='10' ,value="Tamilnadu",inplace=True)
df['state_code'].replace(to_replace='11',value="Orissa",inplace=True)
df['state_code'].replace(to_replace='12' ,value="Jammu and kashmir",inplace=True)
df['state_code'].replace(to_replace='13' ,value="Uttar pradesh",inplace=True)
df['state_code'].replace(to_replace='14' ,value="Haryana",inplace=True)
df['state_code'].replace(to_replace='15' ,value="Uttarakhand",inplace=True)
df['state_code'].replace(to_replace='16' ,value="West Bengal",inplace=True)
df['state_code'].replace(to_replace='17' ,value="Gujarath",inplace=True)
df['state_code'].replace(to_replace='18' ,value="Chattisgarh",inplace=True)
df['state_code'].replace(to_replace='19' ,value="Mizoram",inplace=True)
df['state_code'].replace(to_replace='20' ,value="Tripura",inplace=True)
df['state_code'].replace(to_replace='21' ,value="Meghalaya",inplace=True)
df['state_code'].replace(to_replace='22' ,value="Punjab",inplace=True)
df['state_code'].replace(to_replace='23' ,value="Madhya Pradesh",inplace=True)
df['state_code'].replace(to_replace='24' , value="Sikkim",inplace=True)
df['state_code'].replace(to_replace='25' ,value="Manipur",inplace=True)
df['state_code'].replace(to_replace='26' ,value="Delhi",inplace=True)
df['state_code'].replace(to_replace='27' ,value="Chandigarh",inplace=True)
df['state_code'].replace(to_replace='29' ,value="Telangana",inplace=True)
df['state_code'].replace(to_replace='30' ,value="Goa",inplace=True)
df['state_code'].replace(to_replace='31' ,value="Diu and daman",inplace=True)
df['state_code'].replace(to_replace='32',value="DNH at silvasa",inplace=True)
df['state_code'].replace(to_replace='33' ,value="Ladakh",inplace=True)

df

        year   state_code  pending_years
0       2015  Maharashtra           -115
1       2015  Maharashtra           -115
2       2015  Maharashtra           -115
3       2015  Maharashtra           -115
4       2015  Maharashtra           -115
...      ...          ...            ...
135557  2015          Goa           -115
135558  2015          Goa           -115
135559  2015          Goa           -115
135560  2015          Goa            -10
135561  2015          Goa           -115

[135562 rows x 3 columns]

In [9]:
del df_pending

In [10]:


df_pending = df["state_code"].value_counts().reset_index()


df_pending

df_pending['state_code']=df_pending['state_code'].sort_values()
df_pending.rename(columns={"index": "state", "state_code": "pendingcases_count"}, inplace=True)
new_rows_pending = pd.DataFrame({'state' : ['DNH at silvasa','Diu and daman','Ladakh','Meghalaya'], 'pendingcases_count' : [0,0,0,0]})
df_pending= pd.concat([new_rows_pending, df_pending], ignore_index=True)
df_pending

df_pending['pending_casesperlakh']=df_pending['pendingcases_count']/100000
df_pending.insert(3, 'Year', 2015)

df_pending

                state  pendingcases_count  pending_casesperlakh  Year
0      DNH at silvasa                   0               0.00000  2015
1       Diu and daman                   0               0.00000  2015
2              Ladakh                   0               0.00000  2015
3           Meghalaya                   0               0.00000  2015
4      Madhya Pradesh               28516               0.28516  2015
5           Karnataka               26969               0.26969  2015
6           Tamilnadu               12204               0.12204  2015
7       Uttar pradesh               12189               0.12189  2015
8           Rajasthan               11267               0.11267  2015
9         Maharashtra                8987               0.08987  2015
10                Goa                6624               0.06624  2015
11        West Bengal                6027               0.06027  2015
12        Chattisgarh                5414               0.05414  2015
13              Bihar                3770               0.03770  2015
14     Andhra Pradesh                2642               0.02642  2015
15  Jammu and kashmir                1942               0.01942  2015
16             Kerala                1679               0.01679  2015
17             Orissa                1299               0.01299  2015
18           Gujarath                1075               0.01075  2015
19              Assam                 875               0.00875  2015
20              Delhi                 759               0.00759  2015
21   Himachal Pradesh                 682               0.00682  2015
22          Telangana                 672               0.00672  2015
23            Haryana                 520               0.00520  2015
24            Manipur                 434               0.00434  2015
25          Jharkhand                 427               0.00427  2015
26        Uttarakhand                 351               0.00351  2015
27             Punjab                 173               0.00173  2015
28             Sikkim                  51               0.00051  2015
29            Mizoram                   8               0.00008  2015
30            Tripura                   5               0.00005  2015
31         Chandigarh                   1               0.00001  2015

In [11]:
df_pending=df_pending.sort_values(by='state')
df_pending=df_pending.reset_index()
df_pending=df_pending.drop(columns=['index'])  


df_pending

                state  pendingcases_count  pending_casesperlakh  Year
0      Andhra Pradesh                2642               0.02642  2015
1               Assam                 875               0.00875  2015
2               Bihar                3770               0.03770  2015
3          Chandigarh                   1               0.00001  2015
4         Chattisgarh                5414               0.05414  2015
5      DNH at silvasa                   0               0.00000  2015
6               Delhi                 759               0.00759  2015
7       Diu and daman                   0               0.00000  2015
8                 Goa                6624               0.06624  2015
9            Gujarath                1075               0.01075  2015
10            Haryana                 520               0.00520  2015
11   Himachal Pradesh                 682               0.00682  2015
12  Jammu and kashmir                1942               0.01942  2015
13          Jharkhand                 427               0.00427  2015
14          Karnataka               26969               0.26969  2015
15             Kerala                1679               0.01679  2015
16             Ladakh                   0               0.00000  2015
17     Madhya Pradesh               28516               0.28516  2015
18        Maharashtra                8987               0.08987  2015
19            Manipur                 434               0.00434  2015
20          Meghalaya                   0               0.00000  2015
21            Mizoram                   8               0.00008  2015
22             Orissa                1299               0.01299  2015
23             Punjab                 173               0.00173  2015
24          Rajasthan               11267               0.11267  2015
25             Sikkim                  51               0.00051  2015
26          Tamilnadu               12204               0.12204  2015
27          Telangana                 672               0.00672  2015
28            Tripura                   5               0.00005  2015
29      Uttar pradesh               12189               0.12189  2015
30        Uttarakhand                 351               0.00351  2015
31        West Bengal                6027               0.06027  2015

In [12]:
df_merged=pd.merge(df2,df_pending,on='state')
df_merged

df_merged=df_merged.drop(columns=['Year'])

# df_merged.to_csv('2014_filtered.csv', index=False)


df_merged=df_merged.reindex(columns=['year','state','dismissed_count','prison_count','withdrawal_count','avg_decision_end_per1lakhcases','avg_fileend_per1lakhcases','avg_filecourt_per1lakhcases','pendingcases_count','pending_casesperlakh','criminal_count','criminal_perlakh','noncriminal_count','noncriminal_perlakh'])
df_merged.to_csv('2015_filtered.csv', index=False)
df_merged

,year,state,dismissed_count,prison_count,withdrawal_count,avg_decision_end_per1lakhcases,avg_fileend_per1lakhcases,avg_filecourt_per1lakhcases,pendingcases_count,pending_casesperlakh,criminal_count,criminal_perlakh,noncriminal_count,noncriminal_perlakh
0,2015,Andhra Pradesh,13358,0,1110,0,666,113,NaN,NaN,60338,0.60338,33901,0.33901
1,2015,Assam,4092,111,559,0,1120,308,NaN,NaN,25146,0.25146,24596,0.24596
2,2015,Bihar,12614,16,1512,4,731,232,NaN,NaN,22182,0.22182,98608,0.98608
3,2015,Chandigarh,1676,0,1805,2,4152,154,NaN,NaN,7684,0.07684,1599,0.01599
4,2015,Chattisgarh,3222,0,668,1,970,148,NaN,NaN,32383,0.32383,18865,0.18865
5,2015,DNH at silvasa,35,0,31,0,126743,10691,NaN,NaN,190,0.00190,189,0.00189
6,2015,Delhi,7905,8,9246,5,987,114,NaN,NaN,55415,0.55415,39499,0.39499
7,2015,Diu and daman,13,0,17,0,43816,4890,NaN,NaN,343,0.00343,150,0.00150
8,2015,Goa,22,0,61,19,4380,910,NaN,NaN,11202,0.11202,9575,0.09575
9,2015,Gujarath,7900,0,9647,0,206,19,NaN,NaN,153794,1.53794,67137,0.67137
10,2015,Haryana,19404,16,19073,0,250,24,NaN,NaN,129791,1.29791,30430,0.30430
11,2015,Himachal Pradesh,3699,0,2869,0,1406,180,NaN,NaN,26217,0.26217,11757,0.11757
12,2015,Jammu and kashmir,1640,0,231,2,4647,2461,NaN,NaN,14919,0.14919,3157,0.03157
13,2015,Jharkhand,4700,2,1258,5,1494,219,NaN,NaN,11442,0.11442,31881,0.31881
14,2015,Karnataka,29971,0,2055,0,119,9,NaN,NaN,264322,2.64322,87121,0.87121
15,2015,Kerala,20138,3,1162,0,255,54,NaN,NaN,133378,1.33378,84269,0.84269
16,2015,Ladakh,6,0,0,0,4959250,3663250,NaN,NaN,18,0.00018,6,0.00006
17,2015,Madhya Pradesh,18553,0,2667,5,295,44,NaN,NaN,141638,1.41638,136493,1.36493
18,2015,Maharashtra,23570,26,12715,0,147,8,NaN,NaN,306390,3.06390,135965,1.35965
19,2015,Manipur,320,0,20,12,4494,367,NaN,NaN,2362,0.02362,2335,0.02335
20,2015,Meghalaya,36,0,25,3,19654,1141,NaN,NaN,1301,0.01301,419,0.00419
21,2015,Mizoram,4,0,7,0,182486,105741,NaN,NaN,251,0.00251,89,0.00089
22,2015,Orissa,2146,1,4718,12,1491,365,NaN,NaN,36931,0.36931,24240,0.24240
23,2015,Punjab,27648,17,20225,0,313,14,NaN,NaN,94628,0.94628,35849,0.35849
24,2015,Rajasthan,7337,2,4703,1,386,60,NaN,NaN,111924,1.11924,74268,0.74268
25,2015,Sikkim,19,0,161,16,8498,703,NaN,NaN,766,0.00766,676,0.00676
26,2015,Tamilnadu,25910,0,948,1,456,67,NaN,NaN,101505,1.01505,46580,0.46580
27,2015,Telangana,8112,0,458,1,1183,293,NaN,NaN,32917,0.32917,29176,0.29176
28,2015,Tripura,307,0,41,13,14179,1534,NaN,NaN,2082,0.02082,1728,0.01728
29,2015,Uttar pradesh,39099,0,1135,2,123,19,NaN,NaN,372371,3.72371,216856,2.16856
30,2015,Uttarakhand,3414,0,352,23,1938,163,NaN,NaN,23830,0.23830,5188,0.05188
31,2015,West Bengal,20955,19,2560,2,685,175,NaN,NaN,74249,0.74249,49130,0.49130